* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-white: #fff;
  --clr-black: #141e27;
  --clr-navy: #222260;
  --clr-navy-2: #172774;
  --clr-primary: #0acf83;
  --clr-secondary: #ff0075;
  --clr-neutral-1: #f9fbfe;
  --clr-neutral-2: #e5e9f2;
  --clr-neutral-3: #d3d9e2;
  --clr-neutral-4: #c0c6d4;
  --clr-neutral-5: #a5b0c3;
  --clr-neutral-6: #8e9cb2;
  --clr-grey-light: rgb(21, 44, 91);
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #dbe1e8;
  --clr-grey-2: #b2becd;
  --clr-grey-3: #6c7983;
  --clr-grey-4: #454e56;
  --clr-grey-5: #2a2e35;
  --clr-grey-6: #12181b;
  --clr-grey-7: #0a0e12;
  --font-sm: 1rem;
  --font-md: 1.6rem;
  --font-lg: 3rem;
  --font-xl: 4rem;
}

html {
  font-size: 62.5%;
  /* font-size 1em = 10px, 1rem = 16px on default browser settings */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--clr-navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-grey-light);
}

p {
  color: var(--clr-grey-4);
}

.container_sm {
  padding: 0 5rem;
}

.container_md {
  padding: 0 10rem;
}

.container_lg {
  padding: 0 20rem;
}

header {
  min-height: 100vh;
  background-color: var(--clr-white);
}

header .navbar {
  min-height: 10vh;
  color: var(--clr-white);
  background-color: var(--clr-navy-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .navbar .logo img {
  width: 40px;
}

header .navbar .logo h6 {
  color: var(--clr-white);
  font-size: var(--font-lg);
  font-weight: 700;
  margin-left: 0.5rem;
}

header .navbar .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-md);
  font-weight: 400;
}

header .navbar .nav_items .nav_link a {
  padding: 0 2rem;
  color: var(--clr-neutral-1);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

header .navbar .nav_items .nav_link a:hover {
  color: var(--clr-primary);
}

header .navbar .nav_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav_btns .cart {
  position: relative;
  cursor: pointer;
}

header .navbar .nav_btns .cart i {
  font-size: var(--font-lg);
}

header .navbar .nav_btns .cart span {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: var(--clr-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .navbar .nav_btns .nav_btn {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  font-size: var(--font-md);
  margin-left: 3rem;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

header .navbar .nav_btns .nav_btn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}
/*# sourceMappingURL=style.css.map */